/*** Project Start ***/
.project-item {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 30px 30px 30px 30px;
  overflow: hidden;
}

.project-item::before {
  content: "";
  width: 100%;
  height: 40%;
  background: var(--bs-dark);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  border-radius: 10px 10px 10px 10px;
}

.project-item::after {
  content: "";
  width: 100%;
  height: 60%;
  background: var(--bs-primary);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  border-radius: 10px 10px 10px 10px;
}

.project-left {
  width: 180px;
  height: 70px;
  position: absolute;
  top: 22%;
  left: -18%;
  rotate: 30deg;
  z-index: 2;
}

.project-right {
  width: 180px;
  height: 70px;
  position: absolute;
  top: 22%;
  right: -18%;
  rotate: -30deg;
  z-index: 2;
}

.project-item img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-item a {
  position: absolute;
  padding: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotate(-360deg);
  border-radius: 10px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  opacity: 0;
}

.project-item:hover a {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  background: var(--bs-primary);
  color: var(--bs-dark) !important;
  opacity: 1;
}

/*** prohect Start ***/
